.hero.half-height.text-left.item-header
	.cell
		.large-6.columns.large-centered.item-title
			.row
				h4 {{ Item.name }}
					small.block
						span.item-type {{ Item.type }}
				span.item-tag.icon-tag(data-ng-repeat="tag in Item.tags") {{ tag }}

.large-6.large-centered.columns
	.row
		.epoch-item-description {{ Item.description }}
		h4 Requires the following...
		.epoch-requirements(data-ng-repeat="(key, data) in Item.depends")
			h5 {{ key }}
			ul.button-group.simple-outline.vertical
				recipe(data-ng-repeat="(key, value) in data", data-ref="key", data-value="value")

