.hero(data-ng-controller="HomeController")
	.cell
		.columns
			h2: a(href="{{WinterSmith.url}}") {{WinterSmith.name}}
				small {{WinterSmith.description}}
			search-form(data-change-behaviour="submit")
