@mixin button-style-simple($border: $button-border-color,
						   $border-hover: $button-border-hover-color,
						   $text: $button-text-color,
						   $text-hover: $button-text-hover-color,
						   $bg: $button-bg-color,
						   $bg-hover: $button-bg-hover-color){

	text-transform: uppercase;
	font-size: 10px;
	color: $text;
	background: $bg;
	border-color: $border;
	border-width: 2px;
	border-style: solid;

	&:hover{
		border-color: $border-hover;
		background: $bg-hover;
		color: $text-hover;
	}
}

@mixin simple-button-group(){
	li, dd, dt{
		a.button{
			@include button-style-simple($button-border-color);
			border-right: none;
		}

		&:last-child{
			a.button{
				border-right: 2px solid $button-border-color;
			}
		}

	}

	&.rounded {
		li, dd, dt{
			&:first-child a.button{
				@include border-top-radius(3px)
			}
			&:last-child a.button{
				@include border-bottom-radius(3px)
			}
		}
	}
}

@mixin allround-button-group(){
	clear:both;
	display: inline-block;


	&.simple-outline{
		@include simple-button-group();
	}

	&.vertical{
		width: 100%;
		li{
			width: 100%;
			display: block;
			a.button{
				width: 100%;
				border-right: 2px solid $button-border-color;
				border-bottom: none;
				margin: 0;
			}

			&:last-child{
				a.button{
					border-bottom: 2px solid $button-border-color;
				}
			}
		}
	}
	&.horizontal{
		width: auto;
		li{
			width: auto;
			display: inline-block;
		}
	}
}

ul.button-group {
	@include allround-button-group();
}

dl.tabs {
	@include allround-button-group();
}


.button, button{
	&.simple-outline{
		@include button-style-simple($button-border-color);
	}

	&.button-block{
		width: 100%;
		display: block;
	}

	&.postfix{
		border-left: none;
	}
}


