@mixin button-style-simple($color){
	background: none;
	border: 2px solid $color;
	color: #ccc;
	text-transform: uppercase;
	font-size: 10px;
	&:hover{
		background: $button-hover-color;
		color: #eee;
	}
}

ul.button-group{
	clear:both;
	display: inline-block;


	&.simple-outline{
		li{
			a.button{
				@include button-style-simple($button-border-color);
				border-right: none;
			}

			&:last-child{
				a.button{
					border-right: 2px solid $button-border-color;
				}
			}

		}

		&.rounded{
			li:first-child a.button{
				@include border-top-radius(3px)
			}
			li:last-child a.button{
				@include border-bottom-radius(3px)
			}
		}
	}

	&.vertical{
		width: 100%;
		li{
			width: 100%;
			display: block;
			a.button{
				width: 100%;
				border-right: 2px solid $button-border-color;
				border-bottom: none;
				margin: 0;
			}

			&:last-child{
				a.button{
					border-bottom: 2px solid $button-border-color;
				}
			}
		}
	}

	// &.text-left{
	// 	text-align: left;
	// }
	// &.text-centered{
	// 	text-align: center;
	// }
	// &.text-right{
	// 	text-align: right;
	// }

}

.button, button{
	&.simple-outline{
		@include button-style-simple($button-border-color);
	}

	&.button-block{
		width: 100%;
		display: block;
	}

	&.postfix{
		border-left: none;
	}
}


