.epoch-item-summary{
	position: relative; 
 	@include transition (width, 2.0s, ease-in-out);
 	margin-left: 0;
 	width: 100%;

	.button{
		.label{
			margin-right: 0.3em;
		}
	}

	.epoch-item-name,
	.epoch-item-description{
		color: $epoch-item-name-color;
		font-size: 0.75rem;
		font-weight: bold;
	}
	.epoch-item-description{
		color: $epoch-item-description-color;
	}
	.epoch-item-id{

	}
	.epoch-item-count{
		background:  $epoch-type-bg-color;
		@include border-radius(3px);
	}
	.epoch-type-icon{
		@include border-left-radius(0);
		position: absolute;
		left: 0;
		max-width: 2em;
		overflow: hidden;
		background: none;
		color: $epoch-type-color;
		padding: 0.4em;
	}

	& > .tabs{
		position: absolute;
		top: 0.4em;
		right: 0.4em;
		margin: 0;
		padding: 0;
		dd > a{
			font-size: 0.8em;
			padding: 0.5em;
		}
		dd:first-child > a{
			@include border-left-radius(3px);
		}
		dd:last-child > a{
			@include border-right-radius(3px);
		}

		& + .tabs-content{
			border-left: 2px solid $tab-border-color;
			border-right: 2px solid $tab-border-color;
			margin: 0;
			padding: 0.5em;
			& > .content {
				display: block;
				width: 100%;
			}
		}
	}


	&.type-kit{ 
		.epoch-item-name, .epoch-type-icon{ color: $shade1; }
	}
	&.type-component{
		.epoch-item-name, .epoch-type-icon{ color: $shade2; }
	}
	&.type-tool{
		.epoch-item-name, .epoch-type-icon{ color: $shade3; }
	}
	&.type-area{
		.epoch-item-name, .epoch-type-icon{ color: $shade4; }
	}
	&.type-raw{
		// .epoch-item-name, .epoch-type-icon{ color: $shade5; }
	}

	&.active{
		position: relative;
		margin-left: -5%;
		margin-top: -5%;
		width: 110% !important;
		border-bottom: 2px solid $tab-border-color;
		background:  $tab-border-color;
		margin-bottom: -2px;
	}
}



.icon-area, .icon-areas				{ @include icon($icon-address); }
.icon-tool, .icon-tools				{ @include icon($icon-wrench); }
.icon-component, .icon-components	{ @include icon($icon-beaker); }
.icon-kit							{ @include icon($icon-gift);}
.icon-raw							{ @include icon($icon-leaf);}
.icon-drink							{ @include icon($icon-beer);}
.icon-food							{ @include icon($icon-food);}
.icon-crafted						{ @include icon($icon-cog);}
.icon-weapon						{ @include icon($icon-videocam);}
.icon-upgrade						{ @include icon($icon-arrow-up);}
