.epoch-item-summary{
	position: relative;
 	margin-left: 0;
 	width: 100%;

	.button{
	 	padding-right: 1em;
		.label{
			margin-right: 0.3em;
		}
	}

	.epoch-item-name,
	.epoch-item-description{
		color: $epoch-item-name-color;
		font-size: 0.75rem;
		font-weight: bold;
	}
	.epoch-item-description{
		color: $epoch-item-description-color;
	}
	.epoch-item-id{

	}
	.epoch-item-count{
		background:  $epoch-type-bg-color;
		@include border-radius(3px);
	}
	.epoch-type-icon{
		@include border-left-radius(0);
		position: absolute;
		left: 0;
		max-width: 2em;
		overflow: hidden;
		background: none;
		color: $epoch-type-color;
		padding: 0.4em;
	}

	.epoch-open-icon{
		color: shade($epoch-item-name-color, 50%);
	}
	.button:hover .epoch-open-icon{
		color: $epoch-item-name-color;
	}

	.tabs{
		margin: 0;
		padding: 0;
		@include simple-button-group();
		dd > a {
			font-size: 0.8em;
			padding: 1em;
			margin: 0em;
		}
		dd:first-child > a {
			@include border-left-radius(3px);
		}
		dd:last-child > a {
			@include border-right-radius(3px);
		}

		&.attached{
			display: inline;
		}

		& + .tabs-content {
			margin: 0;
			padding: 0.5em;
			border-top: 1px solid $button-border-color;
			& > .content {
				display: block;
				width: 100%;
			}
		}
	}


	&.type-kit{
		.epoch-item-name, .epoch-type-icon{ color: $shade1; }
	}
	&.type-component{
		.epoch-item-name, .epoch-type-icon{ color: $shade2; }
	}
	&.type-tool{
		.epoch-item-name, .epoch-type-icon{ color: $shade3; }
	}
	&.type-area{
		.epoch-item-name, .epoch-type-icon{ color: $shade4; }
	}
	&.type-raw{
		// .epoch-item-name, .epoch-type-icon{ color: $shade5; }
	}

}

&#item-detail{
	#content{

		.item-header{
			padding-bottom: 1em;
			border-bottom: 1px solid $button-border-color;
			.item-title{
				.item-type{
					font-weight: bold;
					clear: both;
				}
				.item-tag{
					display: inline-block;
					margin-left: 0.3em;
					font-size: 0.8rem;
					color: shade($subheader-font-color, 25%);
					&:before{
						padding: 0 1.5em 0.5em 0;
					}
				}
			}
		}

		.epoch-requirements{
			width: 100%;
		}
	}
}

.icon-area, .icon-areas				{ @include icon($icon-address); }
.icon-tool, .icon-tools				{ @include icon($icon-wrench); }
.icon-component, .icon-components	{ @include icon($icon-beaker); }
.icon-kit							{ @include icon($icon-gift);}
.icon-raw							{ @include icon($icon-leaf);}
.icon-drink							{ @include icon($icon-beer);}
.icon-food							{ @include icon($icon-food);}
.icon-crafted						{ @include icon($icon-cog);}
.icon-weapon						{ @include icon($icon-videocam);}
.icon-upgrade						{ @include icon($icon-up-outline);}
