form{
	textarea{
		&.vertical{
			resize: vertical;
		}
	}
	input[type="search"],
	input[type="text"]{
		@include box-shadow(none);
		border: 2px solid $input-border-color;
	}

	&.simple{
		textarea,
		input[type="search"],
		input[type="text"],
		button{
			position: relative;
			z-index: 1;
			&:focus {
				z-index: 2;
				outline: none;
				background: none;
				border-color: none;
				-webkit-appearance: none;
				outline-color: transparent;
				outline-style: none;
				@include box-shadow(0 0 0px 2px tint($input-border-color, 15%) )
			}
		}
	}

	.rounded{
		input{
			@include border-radius(3px); 
		}
		&.collapse{
			input{
				@include border-right-radius(0); 
			}
			.postfix{
				@include border-left-radius(0); 
			}
			
		}
	}
}