header{
	position: absolute;
	width: 100%;

	nav.top-bar{
		width: 100%;
		z-index: 1000;
		margin-bottom: 0em;
		border-bottom: 2px solid $topbar-menu-border-color;


		.top-bar-section ul{
			margin-top: -2px;
			.divider{
				border-right-color: $topbar-menu-border-color;
			}
		}

		.toggle-topbar.menu-icon{
			@include radius(2px);
			padding:0 1em 0 1em;
			text-align: left;
			&:after{
				margin-right: 1em;
			}
		}

		&.expanded{
			.toggle-topbar.menu-icon{
				@include box-shadow(none);
			}

			.top-bar-section{
				overflow: auto;
				.divider{
					border-top-color: $topbar-menu-border-color;
				}

			}
		}
	}
}