
<li data-ng-class="['type-'+Thing.type.toLowerCase(), Visible?'active':'']" data-ng-translude="data-ng-translude" class="epoch-item-summary"><a data-ng-click="Visible=!Visible" title="{{Thing.id}}" class="button text-left"><span class="label radius epoch-type-icon"></span><span data-ng-if="Thing.count" class="epoch-item-count label">{{ Thing.count }}</span><span class="epoch-item-name">{{ Thing.name }}</span></a>
  <dl class="tabs simple-outline">
    <dd data-ng-repeat="tab in Tabs"><a title="{{ tab.name }}" data-ng-click="tab.toggle()"><em data-ng-class="['icon-{{ tab.name }}']" class="item-detail-tab"></em></a></dd>
  </dl>
  <div data-ng-show="Visible" class="tabs-content">
    <div data-ng-repeat="pane in Panes" data-item-summary-pane="{{pane}}" data-collection="{{ pane.data }}" class="content"></div>
  </div>
</li>