
<div class="hero">
  <div class="cell">
    <h2 class="page-title">Contributing<small class="block">So you'd like to help out?</small></h2>
    <p>Sure thing. I'm always happy to accept help, however let's keep it tidy yeah?</p>
    <p>
      Check out the sections below to see where your efforts can best be applied.
      
    </p>
  </div>
</div>
<div class="row">
  <div class="columns large-6 large-centered">
    <h3 id="things-to-do" data-toc="data-toc">Things to do...</h3>
    <h4 id="codebase" data-toc="data-toc">Application Codebase
      <dl>
        <dt>Angular MVC</dt>
        <dd>
          <ul>
            <li>AngularJs UnitTests</li>
            <li>TravisCI Integration</li>
          </ul>
        </dd>
        <dt>UX</dt>
        <dd>
          <ul>
            <li>wireframe &amp; storyboard interaction flow for item-list -&gt; item-detail</li>
          </ul>
        </dd>
      </dl>
    </h4>
    <h4 id="database" data-toc="data-toc">Database
      <dl>
        <dt>Data Sources</dt>
        <dd>
          <ul>
            <li>Explore methods and sources for harvesting more accurate information, automate it if possible.</li>
          </ul>
        </dd>
        <dt>Recipes</dt>
        <dd>
          <ul>
            <li>Double check these match mainline Epoch values.</li>
            <li>Generate quality consistant screenshots for each item.</li>
          </ul>
        </dd>
      </dl>
    </h4>
    <h3 id="how-to-contribute" data-toc="data-toc">How to contribute</h3>
    <p>Mostly you'll need a [github account](https://github.com/join), which is free.</p>
    <h4 id="code-contributions" data-toc="data-toc">Pull Requests
      <p>I'll be placing priority on these types of contributions</p>
      <ol>
        <li>Clone the repo</li>
        <li>Make changes, Limit changes to one feature/fix per pull request or it will be rejected.</li>
        <li>Submit a (pull request)[http://www.youtube.com/watch?v=YTbRzhQju4c]</li>
      </ol>
    </h4>
    <h4 id="issues" data-toc="data-toc">Issues
      <ol>
        <li>Head over to the issue tracker</li>
        <li>Write a brief description</li>
        <li>explain concisely the contribution</li>
        <li>submit it!</li>
      </ol>
    </h4>
  </div>
</div>