.hero
	.cell
		h2.page-title About
			small.block Why and How

.row

	.columns.large-6.large-centered

		h4(id="intro", data-toc) Intro

		p.
			So I was out there on Green Mountain one day, about to start the whole creative process of
			base-building. I needed some reference matieral to remind myself what was required to build
			all the various parts (because why memorise something when you can look it up right?).
		p.
			However one this day. dayzepoch.com was down for backup.

		p.
			So I said, "that's it" and started gathering as much data as I could find.

		h4(id="the-plan", data-toc) The Plan

		p I had this plan :
			ul
				li Host the site from github pages (becuase I love git)
				li Use AngularJS as the clientside framework, avoid Jquery
				li.
					Because github only allows static websites, and angular doesn't have a yaml consumer yet,
					I'd have to store all the data as JSON. No problem.
				li.
					Develop the application locally using Wintersmith, a static website generator that consumes
					folder tree of markdown/json/yaml files and lets you use what ever templating language you
					want (I went with Jade, because I like the time saving data structure of yaml)
				li.
					I would use Sass and Foundation. But because I was staying as far away from Ruby as I could
					manage (wintersmith is a nodejs tool), I would use Bourbon instead of Compass.
				li.
					I'd make use of Grunt, Npm and Bower because manually finding and downloading stuff is such a
					boring task.
				li Finally, my deployment strategy is a `git add --all && git commit -am "changelog message" && git push`

		h4(id="roadmap", data-toc) Roadmap?

		p Yes, I have an idea for where I want to take this. I'll publish it here soon.

