.row
	.columns.large-6.large-centered
		img(src="{{Assets.static('img/dayz-logo.png')}}")
		:markdown
			[DAYZ](dayzepoch.com/) is a registered trademark of [Bohemia Interactive a.s](http://www.bistudio.com/).
			This is an unofficial modification that is not affiliated or authorized by Bohemia Interactive a.s.

		img(src="{{Assets.static('img/epoch-logo.png')}}")
		:markdown
			[DayZ Epoch](http://dayzepoch.com/) is licensed under [DayZ Mod License Share Alike](http://www.bistudio.com/licenses/dayz-mod-license-share-alike/).
