/*
	Base Page Styling
	css/pages/base.scss

 */

html, body{
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	background-color: $body-bg;


	@import "css/elements";
	@include headings;

	#content{
		height: 100%;
		min-height: 30em;
		padding-bottom: (rem-calc(($footer-height - $topbar-height) + $topbar-height));
		width: 100%;
		display: table;
		padding-top: 4em;

	}

	#site-footer {
		display: block;
		clear: both;
		margin-top: -(rem-calc($footer-height - $topbar-height));
		min-height: rem-calc($footer-height - $topbar-height);
		color: tint($body-bg, 15%);
		text-align: center;

		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 1px;

			border: none;
			border-top: 1px solid $ocean-blue;
		}

		section.copy{
			margin-top: 1em;
			p{
				font-size: 0.6em;
			}
		}
	}

	.avgrund-overlay{
		background: #fff;
	}

	.avgrund-popin{
		overflow: visible;
		background: #0cf;
		min-height: 25em;
		@include headings {
			color: #fff;
		}
		form.contact {
			// position: relative;

			input, textarea{
				color: #333;
				background: #fff;
				border: none;

				@include placeholder {
					color: #333;
				}
			}
			textarea{
				min-height: 15em;
				max-height: 15em;
			}
			button[type='submit']{
				position: absolute;
				bottom: -1.5em;
				left: 5%;
				width: 90%;
				border: none;
				background: #fff;
				// @include box-shadow(0 0 2px #0cf);
				border: 2px solid $button-border-color;
				color: #333;
				margin: 0 auto;
			}
		}
	}

}

body#splash,
body#home{
	.hero{
		margin-bottom: 1em;
		display: inherit;
		height: 100%;

		h2{
			display: block;
			a{
				color: white;
			}
			small{
				display: block;
				line-height: 1;
			}
		}
	}
}
