.large-6.columns.large-centered(data-ng-controller="ItemListController")
	ul.button-group.vertical.simple-outline.rounded
		li(data-ng-repeat="item in Collection|filter:Query", data-item-summary="item")
