$include-html-classes: true;
$include-print-styles: true;
$include-html-global-classes: $include-html-classes;
// $include-html-top-bar-classes: true;

$shade1: #FFDB77;
$shade2: #FF905E;
$shade3: #DC554F;
$shade4: #8F2041;
$shade5: #520E24;
$shade6: #00ccff;

$deep-ocean-blue: #262732;
$ocean-blue: #2E2F41;
$bright-ocean-blue: lighten($ocean-blue, 25%);
$turquoise-blue: #00B6AD;
$jade: #00948A;
$dark-jade: #005A55;


/*
Grid
 */
$fg-column: 60px;             // Column Width
$fg-gutter: 25px;             // Gutter Width
$fg-max-columns: 12;          // Total Columns For Main Container


/*
	Body
 */
$body-bg: $deep-ocean-blue;
$body-font-color: $bright-ocean-blue;
$body-font-family: "Monsterrat", Arial, sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

$header-font-family: $body-font-family;
$header-font-weight: 300;
$header-font-style: normal;
$header-font-color: $turquoise-blue;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-bottom-margin: .5rem;
$header-text-rendering: optimizeLegibility;

$horizontal-rule-color: tint($deep-ocean-blue, 15%);

// We use these to control header font sizes
// $h1-font-size: rem-calc(44);
// $h2-font-size: rem-calc(37);
// $h3-font-size: rem-calc(27);
// $h4-font-size: rem-calc(23);
// $h5-font-size: rem-calc(18);
// $h6-font-size: 1rem;

// These control how subheaders are styled.
$subheader-line-height: 1.4;
$subheader-font-color: scale-color($header-font-color, $lightness: -25%);
// $subheader-font-weight: 300;
// $subheader-top-margin: .2rem;
// $subheader-bottom-margin: .5rem;

// A general <small> styling
$small-font-size: 45%;
$small-font-color: scale-color($header-font-color, $lightness: -25%);

// We use these to style paragraphs
// $paragraph-font-family: inherit;
// $paragraph-font-weight: normal;
// $paragraph-font-size: 1rem;
// $paragraph-line-height: 1.6;
// $paragraph-margin-bottom: rem-calc(20);
// $paragraph-aside-font-size: rem-calc(14);
// $paragraph-aside-line-height: 1.35;
// $paragraph-aside-font-style: italic;
// $paragraph-text-rendering: optimizeLegibility;

$definition-list-header-color: scale-color($body-font-color, $lightness: -25%);
$definition-list-header-weight: bold;
$definition-list-header-margin-bottom: .3rem;
$definition-list-margin-bottom: rem-calc(12);

// We use these to style <code> tags
// $code-color: scale-color($silver, $lightness: -27%);
$code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
// $code-font-weight: bold;

// We use these to style anchors
// $anchor-text-decoration: none;
$anchor-font-color: scale-color($bright-ocean-blue, $lightness: 35%);
$anchor-font-color-hover: $bright-ocean-blue;

$side-nav-link-color: $anchor-font-color;
$side-nav-link-color-active: $anchor-font-color-hover;

/*
Hero
 */

$hero-height: rem-calc(200);

/*
	Epoch Item
 */
$epoch-item-name-color: $bright-ocean-blue;
$epoch-item-description-color: $bright-ocean-blue;
$epoch-type-color: $epoch-item-name-color;
$epoch-type-bg-color: $ocean-blue;

/*
Footer
 */

$footer-height: 260;


/*
Topbar
 */
$topbar-bg-color: $deep-ocean-blue;

$topbar-link-color: $bright-ocean-blue;
$topbar-link-color-hover: tint($bright-ocean-blue, 15%);
$topbar-link-color-active: white;
$topbar-link-bg-hover: $deep-ocean-blue;

$topbar-dropdown-bg: $deep-ocean-blue;
$topbar-dropdown-link-color: $bright-ocean-blue;
$topbar-dropdown-link-bg: $deep-ocean-blue;
$topbar-arrows: false;

$topbar-menu-link-color: $bright-ocean-blue;
$topbar-menu-border-color: $ocean-blue;
$topbar-menu-icon-color: $bright-ocean-blue;
$topbar-menu-link-color-toggled: $bright-ocean-blue;
$topbar-menu-icon-color-toggled: $bright-ocean-blue;

/*
	Buttons
 */

$button-text-color: $bright-ocean-blue;
$button-text-hover-color: $bright-ocean-blue;
$button-border-color: $ocean-blue;
$button-border-hover-color: $ocean-blue;
$button-bg-color: none;
$button-bg-hover-color: rgba($bright-ocean-blue, 0.2);


/*
	Forms
 */
$input-placeholder-color: $dark-jade;
$input-text-color: $turquoise-blue;
$input-border-color: $dark-jade;
$input-bg-color: #222;


/*
	Tabs
 */
$tab-bg-color: $deep-ocean-blue;
$tab-border-color: $ocean-blue;
$tab-text-color: $bright-ocean-blue;

$tab-active-bg-color: $bright-ocean-blue;
$tab-active-text-color: $ocean-blue;

$tab-hover-bg-color: $bright-ocean-blue;
$tab-hover-text-color: $ocean-blue;