dl.tabs.simple-outline
	dd(data-ng-repeat="tab in Tabs")
		a(title="{{ tab.name }}", data-ng-click="tab.toggle()")
			em.item-detail-tab(data-ng-class="['icon-{{ tab.name }}']")

.tabs-content(data-ng-show="Visible")
	.content(data-ng-repeat="pane in Panes", data-item-summary-pane="{{pane}}", data-collection="{{ pane.data }}")
