li.epoch-item-summary(data-ng-class="['type-'+Thing.type.toLowerCase(), Visible?'active':'']", data-ng-translude)

	a.button.text-left(data-ui-sref="app.detail({ id: Thing.id })", title="{{Thing.id}}")
		span.label.radius.epoch-type-icon
			em(data-ng-class="'icon-'+Thing.type.toLowerCase()")
		span.epoch-item-count.label(data-ng-if="Thing.count") {{ Thing.count }}
		span.epoch-item-name {{ Thing.name }}
