
<div id="item-filter" class="large-6 columns large-centered">
  <form data-ng-submit="search()" class="simple">
    <div class="row rounded">
      <div class="small-12 columns">
        <input type="text" data-ng-model="Query" placeholder="Search Recipes and Items" data-result-count="{{ Collection | filter:Query | length }}" class="search"/>
        <button type="submit">go</button>
        <button type="reset" data-ng-if="Query.length" data-ng-click="$parent.Query=''" class="simple-outline button postfix clear"><i class="icon-erase icon-2x"></i></button>
      </div>
      <div class="small-12 columns">
        <dl class="sub-nav right">
          <dt>filter by</dt>
          <dd data-ng-repeat="filter in Filters" data-ng-class="'type-'+filter.toString().toLowerCase()"><a data-ng-click="$parent.Query=filter"><em data-ng-class="'icon-'+filter.toLowerCase()"></em><span>{{ filter }}</span></a></dd>
        </dl>
      </div>
    </div>
  </form>
</div>