
<header>
  <nav data-topbar="data-topbar" data-ng-class="{'expanded': open}" class="top-bar hide-for-print">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{ WinterSmith.url }}" title="{{ WinterSmith.description }}">{{ WinterSmith.name }}</a></h1>
      </li>
      <li data-ng-click="open=!open" class="toggle-topbar menu-icon"><a>Menu</a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li data-ng-class="{active: $routeSegment.startsWith('item-list')}"><a ng-href="#/items">Items</a></li>
        <li class="divider"></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/contribute">Contribute</a></li>
        <li><a ng-href="#/credit">Credit</a></li>
      </ul>
    </section>
  </nav>
</header>